.header{
    height: 200px;
    width: 100%;
    background-color: rgb(156, 230, 205);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task-container{
    height: 300px;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* margin: 20px; */
    justify-content: space-around;
}